

/*Colors*/

:root {
    --background: #0B0C10;
    --btn: #66FCF1;
    --mainclr: #1F2833;
    --accent2: #45A29E;
    --accent3: #1c3334;
    --text: #C5C6C7;
  }

  /*Global Settings */

  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h1 {
    font-size: 40px;
    color: var(--text);
    align-items:flex-end;
    justify-content: flex-end;
    padding: 0 20px 0 20px;
  }

  h2 {
    font-size: 20px;
    color: var(--text);
    align-items:flex-end;
    justify-content: flex-end;
    padding: 0 20px 0 20px;
  }

  h3 {
    font-size: 18px;
    color: var(--text);
    align-items:flex-end;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
    font-weight: bolder;
  }

  p {
    color: #C5C6C7;
    padding: 0 0 10px 0;
  }

  li a {
    color: #C5C6C7;
    padding: 0 0 10px 0;
    text-decoration: none;
    font-size: larger;
  }

  a:visited {
    color:var(--background);
  }

  .timer {
    display:flex;
    padding: 30px 40px 30px 40px;
    margin: 0 20px 0 0px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
  }

  /*Section flex settings */

  .flexheader {
    background-color: var(--accent3);
    background-position: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;

  }

  .flexbody {
    display: flex;
    background-color: var(--background);
    flex-direction: column;
  }

  .flexmain {
    display: flex;
    background-color: var(--background);
    flex: 1;
  }

  .flexquiz {
    flex-direction: column;
    background-color: var(--mainclr);
    padding: 10px;
    margin: 10px 10px 0 10px;
    flex: 3;
    display: flex;
      /*align-content: center;
    justify-content: center;*/
  }

  .startbtn {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .btn {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--btn);
    align-content: center;
    justify-content: center;
  }

  .quizform {
    display: flex;
    align-content: center;
    justify-content: center;
  }
 
  .submitbtn {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

  }


  /*Boxes on the left side */

  #flexbgpic {
    background-image: url("../../assets/images/gradient.png");
    background-size: cover;
    display: flex;
    border: none;

  }

  .leftasideboxes {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .flexaside {
    flex-direction: column;
    background-color: var(--accent2);
    padding: 20px;
    margin: 10px 0 0 0;
    flex: 1;
  }

  @media screen and (max-width: 840px) {
    .flexheader {
        flex-direction: column;
    }
    .flexheader h1 {
      padding: 10px 0 10px 0;
    } 
    .flexheader h2 {
      padding: 10px 0 10px 0;
    }
}

.flexfooter {
  background-color: var(--accent3);
  background-position: center;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 10px 0 10px 0;
}



    /*@media screen and (max-width: 840px) {
    .shrink-wrap {
        flex-direction: column;
    }*/



 
  
  
  
  
  
  /*@media screen and (max-width: 840px) {
    .shrink-wrap {
        flex-direction: column;
    }*/

    /*function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      setInterval(function () {
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);
  
          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;
  
          display.textContent = minutes + ":" + seconds;
  
          if (--timer < 0) {
              timer = duration;
          }
      }, 1000);
  }
  
  window.onload = function () {
      var fiveMinutes = 60 * 5,
          display = document.querySelector('#time');
      startTimer(fiveMinutes, display);
  };*/
